/* General rules start */
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  text-align: center;
}
img {
  width: 100%;
}
body h1 {
  font-weight: 800;
}
body h2 {
  font-weight: 800;
}
body p {
  font-weight: 400;
}
.container {
  width: 80%;
  margin: 0 auto;
  padding-top: 1%;
  padding-bottom: 3%;
}
.dark {
  background-color: #414141;
  color: #efefef;
}
.light {
  background-color: #efefef;
  color: #414141;
}
/* General rules end */

/* Header starts */
header p {
  margin-bottom: 30px;
  color: #cac9c9;
}
.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: #efefef solid 1px;
}
.logo {
  flex: 0 1 60%;
  max-width: 200px;
  padding: 5px 0;
}
.menu {
  flex: 1 1 100%;
  text-align: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0.2rem 0.5rem 0.2rem 0.5rem;
  padding: 0.2rem 0.6rem;
}
li a {
  text-decoration: none;
}
li a:visited {
  color: #efefef;
}
li a:hover {
  color: #40b8c4;
}
li a:active {
  color: #40b8c4;
}
.hero_content h1 {
  margin-top: 2rem;
}
.button {
  border: #40b8c4 solid 1px;
  border-radius: 0.5em;
  text-decoration: none;
  text-transform: uppercase;
  color: #efefef;
  padding: 0.5rem 2rem;
  border-radius: 0.6rem;
}
.button:hover {
  background-color: #40b8c4;
  color: #414141;
}
.hero_img {
  max-width: 300px;
  margin: 0 auto;
  padding: 50px 0;
}
/* Header ends */

/* Main section  starts */
.completing_doc_img {
  max-width: 150px;
}
.box {
  width: 80%;
  margin: 3.5rem auto;
  background-color: #efefef;
  border-radius: 1rem;
  color: #414141;
  padding: 1rem;
  margin-top: 3.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.circle {
  background-color: #40b8c4;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -30px;
}
.box_title {
  margin-top: 2rem;
  margin-bottom: 0;
}
.logo_sign {
  margin-top: 2rem;
  max-width: 60px;
}
.laptop {
  width: 80%;
  min-width: 251px;
  margin-top: 1rem;
}
.contact_box {
  background-color: #fff;
  padding: 1.5rem;
  margin: 2rem auto;
  border-radius: 1rem;
  box-shadow: 12px 6px 0px 0px #40b8c4;
}
.submission_container {
  padding: 1rem;
}
.email_box {
  display: flex;
  margin: 0 auto;
  border: rgb(202, 202, 204) solid 1px;
}
.email_img {
  flex: 0 0 30px;
}
.email_input {
  flex: 1 1 auto;
  border: none;
}
.chat_button_div {
  margin-top: 1.5rem;
}
.chat_button {
  background-color: #40b8c4;
  border-radius: 0.5rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #414141;
  padding: 0.5rem 2rem;
  border-radius: 0.6rem;
  font-size: 0.8rem;
  margin-top: 3rem;
}
.chat_button:hover {
  background-color: #dadbdb;
  color: #414141;
}

/* Main section ends */

/* Footer starts */
footer {
  background-color: #057f8b;
  color: #fff;
  font-size: 0.7rem;
}
.footer_logo {
  width: 200px;
  margin-top: 1rem;
}
.footer_company p {
  font-style: italic;
  color: rgb(196, 196, 196);
  margin-bottom: 2rem;
}
.footer_bottom {
  border-top: rgb(196, 196, 196) solid 1px;
}
/* Footer ends */
